body{
    box-shadow: 6px 6px 2px;
    text-align: center;
    border: 1px solid black;
    width:470px;
    margin-left: 450px;
    margin-top:70px;
    margin-bottom: 90px;
    background-image: url(image/si.avif);  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
h2{
    margin-top: 20px;
}
input{
    border-radius: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding : 6px;
    width: 230px;
    font-size: large;
    border: grey;

}
input:hover{
    border: 1px solid;
    outline-style: solid;
    outline-color:lightskyblue;
    outline-width: thick;
}
label{
    font-size: larger;
}
button{
    font-size: large;
    border-radius: 200px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: pink;
    padding: 6px;
    cursor: pointer;
    border: grey;
}
button:hover{
    background-color: palevioletred;
    padding: 6px;
    border: 1px solid black;
    outline-style: solid;
    outline-color:black;
    outline-width: thin;
}
